---
import type { Playlist } from "@/lib/data";

interface Props {
  playlist: Playlist;
}

const { playlist } = Astro.props;
const { id, cover, title, artists, color } = playlist;
const artistString = artists.join(", ");
---

<a href={`/playlist/${id}`} class="playlist-item flex relative overflow-hidden items-center p-2 gap-4 rounded-md hover:bg-zinc-500">
    <picture class="h-12 w-12 flex-none">
        <source srcset={cover} type="image/webp" />
        <img src={cover} alt={title} class="h-full w-full object-cover rounded-md" />
    </picture>
    <div class="flex flex-auto flex-col truncate">
        <h4 class="text-sm">
            {title}
        </h4>
        <span class="text-xs text-gray-400 truncate">
            {artistString}
        </span> 
    </div>
</a>


